<IfModule mod_rewrite.c>
	RewriteEngine on
#	RewriteCond %{REQUEST_FILENAME} !-f	
	RewriteRule   ^$   public/   [L]
	
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule   ^(.*)$ public/$1 [L]
</IfModule>

Options -Indexes