<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{REQUEST_URI} /staging/
	RewriteCond %{REQUEST_URI} (\.)	
	RewriteRule ^staging/(.*)$ $1 [QSA,L]
	
	RewriteCond %{REQUEST_URI} /preview/
	RewriteCond %{REQUEST_URI} (\.)	
	RewriteRule ^preview/(.*)$ $1 [QSA,L]	
	
	# Rewrite requests for documents that don't exist
	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>